:root {
  --accent-color: #2196f3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --inverse-light-text-color: rgba(255, 255, 255, 0.6);
  --lightest-gray-color: #f5f4fa;
  --gray-color: #afb1b8;
}

/* main styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */
.button {
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);
  text-align: center;
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
}

/* header */
/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-black-color);
}
.logo .accent {
  color: var(--accent-color);
}

/* navigation */
.site-nav .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}
/* contacts */
.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

/* sections */
.section .title {
  color: var(--secondary-text-color);
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* benefits */

.benefits-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.benefits .content {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* our team */
.our-team {
  background: var(--lightest-gray-color);
}

.our-team .subtitle {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.our-team p {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* footer */
.footer {
  background: #2f303a;
}

.footer .logo {
  color: var(--primary-white-color);
}
.address {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-map {
  color: var(--primary-white-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address-link {
  letter-spacing: 0.03em;
  color: var(--inverse-light-text-color);
}

/* portfolio styles */

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--lightest-gray-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-button.accent {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
